<HTML>
<HEAD>
<TITLE>Obsid {{ obsid }}</TITLE>
<script type="text/javascript" src="/aspect/overlib.js"></script>
<style type="text/css">
  body { min-width:900px;
         margin-left: 20px;
         background-color: lightblue;
}
  div#fullwidth {
    clear: both;
    position: static;
    width:1200px;
    left:0px;
  }
  div#leftmain {
    float: left;
    width: 780px;
    left:0px;
    top: 0px;
  }
  div#leftsmall {
    float: left;
    width: 765px;
  }
  div.border{
    background-color: white;
    padding-left: 10px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
  }
  div#rightlarge {
    float: right;
    width: 415px;
  }
  div#rightsmall {
    float: right;
    width: 375px;
    left:900px;
    top: 0px;
  }

button {
    background:none!important;
     border:none; 
     padding:0!important;
     color:#069;
     text-decoration:underline;
     cursor:pointer;
}
</style>
</HEAD>
<BODY>
<div id="fullwidth">
<div id="leftmain">

<div class="border" style="padding: 10px; margin-bottom: .5cm">
{% if er is none %}
<span id="label" style="font-size:150%; font-weight:bold;">Obsid {{ obsid }}</span>
 - ocat status <span style="font-weight:bold;">{{ target['status']
  }}</span> : {{ last_sched }}
{% else %}
<span id="label" style="font-size:150%; font-weight:bold;">Obsid {{
 obsid }}</span> - {{ er_status }}
{% if last_sched %} : <span style="font-weight:bold;">{{ last_sched
 }}</span>{% endif %}
{% endif %}
</div>

{% if target is not none %}
<div class="border" style="padding-top: 0px; margin-bottom: .5cm;">
<h2><A HREF="{{ links['obscat']['link']}}">Target Summary</A></h2>
<table cellspacing=0 cellpadding=5>
<tr><td></td>
<th>Sequence
  Number:</th><td><a href="http://icxc.harvard.edu/cgi-bin/mp/target.cgi?{{
  target['seq_nbr'] }}">{{ target['seq_nbr']}}</a></td><th>Status:</th><td>
  {{ target['status'] }}</td><th>ObsID #:</th><td>{{ target['obsid'] }}</td></tr></table>

<table cellspacing=0 cellpadding=4>
<tr><td></td>
<th>Proposal Title:</th><td>{{ target['title'] }}</td></tr></table>

<table cellspacing=0 cellpadding=4>
<tr><td></td><th>Schedule Date:</th><td>{{ target['soe_st_sched_date'] }}</td>
          <th>LTS Date:<td>{{ target['lts_lt_plan'] }}</tr></Table>
<table>
<tr><td></td><th align='right'>RA:</th><td><td>{{ "%3.6f"|format(target['ra']) }}</td></tr>
<tr><td></td><th align='right'>DEC:</th><td><td>{{ "%3.6f"|format(target['dec']) }}</td></tr>
<tr><td></td><th>Exp. Time:</th><td><td>{{ target['approved_exposure_time'] }}</td></tr>
</table>
{% endif %}
&nbsp;
</div>
</div>

<div id="rightsmall" class="border" style="padding-top: 10px;">
Links: <br>
<UL>
{% if target is not none %}
<LI><A HREF="{{ links['obscat']['link'] }}">{{links['obscat']['label']}}</A>
<LI><A HREF="{{ links['seq_sum']['link'] }}">{{links['seq_sum']['label']}}</A>
<LI><form method=post action="http://cxc.harvard.edu/cgi-bin/op/op_status_table.cgi" style="margin-bottom:0;">
<input type="hidden" name="field" value="ObsId">
<input type="hidden" name="id" value="{{ obsid }}">
<input type="hidden" name="out" value="long">
<button>CXCDS Processing Status</button></form></LI>
{% endif %}
{% if obs is not none %}
<LI><A HREF="{{ links['shortterm']['link'] }}">{{links['shortterm']['label']}}</A>
<LI><A HREF="{{ links['fot_dir']['link'] }}">{{links['fot_dir']['label']}}</A>
<LI><A HREF="{{ links['starcheck_html']['link'] }}">{{links['starcheck_html']['label']}}</A>
{% endif %}
{% if links['vv']['link'] is not none %}
<LI><A HREF="{{ links['vv']['link'] }}">{{links['vv']['label']}}</A><BR>
    <UL><LI>(<A HREF="https://icxc2.cfa.harvard.edu/soft/vv/vv_login.html">LOGIN</A>
    once first)</BR></LI></UL>
{% endif %}
{% if vv is not none %}
<LI><A HREF="vv.html">MICA VV</A>
{% endif %}
{% if links['fot_daily'] is not none %}
<LI><A target="_blank" HREF="{{ links['fot_daily']['link']}}">{{links['fot_daily']['label']}}</A></LI>
{% endif %}
</UL>
</div>

<div id="fullwidth">
<div class="border" style="float: left; margin-bottom: .5cm;">
{% if obs is not none %}
<div id="leftsmall">
<h2><A HREF="{{ links['starcheck_html']['link'] }}">Starcheck</A></h2>
{{"OBSID %5d"|format(obs.obsid) -}}
{% if obs.target_id %}
<PRE>
{{"%-22s %-6s SIM Z offset: %-5d (%-.2fmm) Grating: %-5s"|format(
obs.target_id, obs.sci_instr, obs.sim_z_offset_steps,
obs.sim_z_offset_mm, obs.grating) -}}
{% endif %}
{% if obs.point_ra %}
{{- "RA, Dec, Roll (deg): %12.6f %12.6f %12.6f"|format(
obs.point_ra, obs.point_dec, obs.point_roll) -}}
{% endif %}
{% if obs.dither_state is defined and obs.obsid < 40000 %}
{{- "Dither : %-3s Y_amp=%4.1f  Z_amp=%4.1f  Y_period=%6.1f Z_period=%6.1f"|format(
obs.dither_state, obs.dither_y_amp, obs.dither_z_amp,
obs.dither_y_period, obs.dither_z_period) -}}
</PRE>
{% endif %}


{% for manvr in sc['manvr'] %}
<PRE>
{{- "MP_TARGQUAT at %s (VCDU count = %d)"|format(
manvr['mp_targquat_time'], manvr['mp_targquat_vcdu_cnt']) }}
{{ "  Q1,Q2,Q3,Q4: %f %f %f %f"|format(
manvr['target_Q1'], 
manvr['target_Q2'], 
manvr['target_Q3'],
manvr['target_Q4']) }}
{{ "  MANVR: Angle=  %.2f deg  Duration= %d sec  Slew err= %.1f arcsec"|format(
manvr['angle_deg'], manvr['duration_sec'], manvr['slew_err_arcsec']) -}}
{% endfor %}
</PRE>

{% for cat in sc['obs'] %}
<PRE>
{{- "MP_STARCAT at %s (VCDU count = %d)"|format(
cat['mp_starcat_time'], cat['mp_starcat_vcdu_cnt']) -}}
</PRE>
{% endfor %}

{% for warn in sc['warnings'] %}{% if warn['idx'] is not none %}<PRE>{{- "WARNING: [%2s] %s. %s"|format(
warn['idx'], warn['warning_type'], warn['warning']) }}
{% else %}{{- "WARNING: %s"|format(warn['warning']) }}{% endif %}</PRE>{% endfor %}
</div>
<div id="rightlarge">
<IMG SRC="starcheck.png">
</div>
{% endif %}
</div>
</div>

<div id="fullwidth" class="border" style="margin-bottom: 1cm; width: 1180px; padding-bottom: 20px;">
{% if obs is not none %}
<h2>Catalog</h2>
<TABLE border=1 style="font-size:11px">
<TR>{% for field in ['idx', 'slot', 'id', 'type', 'sz', 'mag', 'yang',
'zang', 'notes', 'obc_id', 'mag_obs','trak %', 'obc_bad %',  'id_stat', 'cel_loc', 'dr_rms',
'dy_rms', 'dz_rms', 'dy_mean', 'dz_mean' ] %}
<TH align='right'>{{ field|upper() }}</TH>{% endfor %}
</TR>

{% for row in cat_table %}
<TR>{% for field in ['idx', 'slot', 'idlink', 'type', 'sz', 'mag', 'yang',
'zang', 'pass_notes', 'obc_id', 'mag_obs', 'trak_frac', 'obc_bad_frac',  'id_status', 'cel_loc_flag', 'dr_rms',
'dy_rms', 'dz_rms', 'dy_mean', 'dz_mean'] %}
<TD align='right'>{{ row[field] }}</TD>{% endfor %}</TR>
{% endfor %}
</TABLE>
{% endif %}
</div>


<CENTER><FONT size="-2">mica.report version {{ version }}</FONT></CENTER>

</BODY>
</HTML>
