<HTML>
<HEAD>
<TITLE></TITLE>
<style type="text/css">
  body { min-width:900px;
  background:url('http://asc.harvard.edu/mta/ASPECT/blue_paper.gif'); }
</style>
</HEAD>
<BODY>

<H1>AGASC info</H1>
<TABLE border=1>
<TR><TD WIDTH="30%" VALIGN="TOP">
<TABLE>
<TR>
{% for fname, fval in star[0:15] %}
<TR><TD>{{ fname }}</TD><TD>{{ fval }}</TD></TR>
{% endfor %}
</TABLE>
</TD><TD WIDTH="30%" VALIGN="TOP">
<TABLE>
<TR>
{% for fname, fval in star[15:30] %}
<TR><TD>{{ fname }}</TD><TD>{{ fval }}</TD></TR>
{% endfor %}
</TABLE>
</TD><TD WIDTH="30%" VALIGN="TOP">
<TABLE>
<TR>
{% for fname, fval in star[30:] %}
<TR><TD>{{ fname }}</TD><TD>{{ fval }}</TD></TR>
{% endfor %}
</TABLE>
</TD></TR>
</TABLE>


<h1>ACQ STATS</h1>
{% if acqs is not none %}
<TABLE border=1 stype="font-size:12px">
<TR><TH>N Acqs</TH><TH>N NOID</TH><TH>Avg Mag</TH></TR>
<TR><TD>{{ agg_acq['n_acqs'] }}</TD><TD>{{ agg_acq['n_acq_noid'] }}</TD><TD>{{ agg_acq['avg_mag'] }}</TD></TR>
</TABLE>

<TABLE border=1 style="font-size:12px">
<TR>
{% for field in ['obsid', 'tstart', 'mag', 'mag_obs', 'obc_id'] %}
<TH align='right'>{{ field|upper() }}</TH>
{% endfor %}
</TR>
{% for row in acqs %}
{% for field, form in [('sc_link', '%s'), ('tstart', '%12.1f'),
('mag', '%7.3f'), ('mag_obs', '%7.3f'), ('obc_id', '%4s'),
] %}
<TD align='right'>{{ form|format(row[field]) }}</TD>
{% endfor %}
</TR>
{% endfor %}
</TABLE>
{% endif %}

<H1>Trak Stats</H1>
{% if traks is not none %}
<TABLE border=1 stype="font-size:12px">
<TR><TH>N Track</TH><TH>N Bad Trak (> 5% no trak)<TH>N Fail (100% no track)</TH><TH>N OBC Bad (> 5% bad stat)</TH><TH>Avg Mag</TH></TR>
<TR><TD>{{ agg_trak['n_guis'] }}</TD><TD>{{ agg_trak['n_bad'] }}</TD><TD>{{ agg_trak['n_fail'] }}</TD>
<TD>{{ agg_trak['n_obc_bad'] }}</TD><TD>{{ agg_trak['avg_mag'] }}</TD></TR>
</TABLE>

<TABLE border=1 style="font-size:12px">
<TR>
{% for field in ['obsid', 'tstart', 'mag_obs', 'mag_obs_rms',
'trak_frac %', 'obc_bad %', 'def_pix %',
'ion_rad %', 'sat_pix %', 'mult_star %',
'quad_bound %', 'common_col %'] %}
<TH align='right'>{{ field|upper() }}</TH>
{% endfor %}
</TR>
{% for row in traks %}
{% for field in ['sc_link', 'tstart', 'mag_obs', 'mag_obs_rms',
'trak_frac', 'obc_bad_status', 'def_pix',
'ion_rad', 'sat_pix', 'mult_star',
'quad_bound', 'common_col'] %}
<TD align='right'>{{ row[field] }}</TD>
{% endfor %}
</TR>
{% endfor %}
</TABLE>
{% endif %}


</BODY>
</HTML>
