<HTML>
<HEAD>
<TITLE></TITLE>
<link href="/mta/ASPECT/aspect.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
  body { min-width:900px;
  background:url('http://asc.harvard.edu/mta/ASPECT/blue_paper.gif'); }
</style>
</HEAD>
<BODY>

<TABLE border=1 style="font-size:12px">
<TR>
{% for field in ['slot', 'id_status', 'cel_loc_flag', 'dy_rms',
'dz_rms'] %}
<TH align='right'>{{ field|upper() }}</TH>
{% endfor %}
</TR>

{% for slot in slots %}
<TR>
<TD><A HREF="slot_{{ slot }}.html">{{ slot }}</A></TD>
{% for field, form in [('id_status', '%5s'),
('cel_loc_flag', '%d'), ('dy_rms', '%5.2f'), ('dz_rms', '%5.2f')] %}
<TD align='right'>{{ form|format(vv_slots[slot][field]) }}</TD>
{% endfor %}
</TR>
{% endfor %}
</TABLE>

</BODY>
</HTML>
