<HTML>
<HEAD>
<TITLE></TITLE>
<link href="/mta/ASPECT/aspect.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
  body { min-width:900px;
  background:url('http://asc.harvard.edu/mta/ASPECT/blue_paper.gif'); }
</style>
</HEAD>
<BODY>

<IMG SRC="{{ obsdir }}/slot_{{ slot }}_yz.png">
<IMG SRC="{{ obsdir }}/slot_{{ slot }}_yzf.png">
<IMG SRC="{{ obsdir }}/slot_{{ slot }}_y.png">
<IMG SRC="{{ obsdir }}/slot_{{ slot }}_z.png">
<IMG SRC="{{ obsdir }}/slot_{{ slot }}_m.png">

</BODY>
</HTML>
